.mediaViewInfo {
	--web-view-name: 웹 1920 – 3;
	--web-view-id: _1920__3;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: _1920__3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#_1920__3 {
	position: absolute;
	width: 1920px;
	height: 3112px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 웹 1920 – 3;
	--web-view-id: _1920__3;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#ID26 {
	position: absolute;
	width: 1929px;
	height: 2547px;
	left: -4px;
	top: 590px;
	overflow: visible;
}
#ID097 {
	position: absolute;
	width: 386.5px;
	height: 290px;
	left: 71px;
	top: 121px;
	overflow: visible;
}
# {
	left: 911px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: TEST PAGES.html;
	cursor: pointer;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(112,112,112,1);
	text-decoration: underline;
}