.mediaViewInfo {
	--web-view-name: 아트보드 – 1;
	--web-view-id: __1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: __1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#__1 {
	position: absolute;
	width: 255px;
	height: 698px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: 아트보드 – 1;
	--web-view-id: __1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#_1 {
	fill: rgba(223,223,223,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1 {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 698px;
	left: 0px;
	top: 0px;
}
#MENU {
	transform: matrix(1,0,0,1,-139,283) rotate(-78deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 533px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___2.html;
	cursor: pointer;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 180px;
	color: rgba(112,112,112,1);
}