.mediaViewInfo {
	--web-view-name: 웹 1920 – 1;
	--web-view-id: _1920__1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: _1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#_1920__1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 웹 1920 – 1;
	--web-view-id: _1920__1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes slide-in {

	0% {
		transform: translateX(-100%);
	}

}
#THIS_IS_TEST_PAGE_this_is_test {
	left: 132px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 463px;
	white-space: nowrap;
	text-align: left;
	font-family: NanumSquareRound;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#THIS_IS_TEST_PAGE_this_is_test_k {
	left: 132px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 695px;
	white-space: nowrap;
	text-align: left;
	font-family: NanumSquareRound;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#THIS_IS_TEST_PAGE_this_is_test_l {
	left: 804px;
	top: 158px;
	position: absolute;
	overflow: visible;
	width: 314px;
	white-space: nowrap;
	text-align: left;
	font-family: Fedoraworks V5;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#THIS_IS_TEST_PAGE_this_is_test_m {
	left: 452px;
	top: 770px;
	position: absolute;
	overflow: visible;
	width: 907px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#ID1 {
	position: absolute;
	width: 1000px;
	height: 750px;
	left: 834px;
	top: 216px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___2.html;
	cursor: pointer;
}
#THIS_IS_TEST_PAGE_this_is_test_o {
	left: 659px;
	top: 333px;
	position: absolute;
	overflow: visible;
	width: 680px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#THIS_IS_TEST_PAGE_this_is_test_p {
	left: 1282px;
	top: 147px;
	position: absolute;
	overflow: visible;
	width: 454px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#_2 {
	position: absolute;
	width: 86px;
	height: 40px;
	left: 91.5px;
	top: 81.5px;
	overflow: visible;
	cursor: pointer;
	--web-animation: slide-in 0.3s ease-out forwards;
	--web-action-type: page;
	--web-action-target: _______1.html;
}
#_1 {
	position: absolute;
	width: 86px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_1_s {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_s {
	overflow: visible;
	position: absolute;
	width: 86px;
	height: 10px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_2_t {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2_t {
	overflow: visible;
	position: absolute;
	width: 86px;
	height: 10px;
	left: 0px;
	top: 20px;
	transform: matrix(1,0,0,1,0,0);
}
#_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._3 {
	overflow: visible;
	position: absolute;
	width: 86px;
	height: 10px;
	left: 0px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}